{% extends 'email/base.html' %}
{% load i18n %}
{% block content %}
	<table class="body-wrap">
	    <tr>
	        <td></td>
	        <td class="container" width="600" style="display: block;max-width: 600px; margin: 0 auto;clear: both;">
	            <div class="content">
	                <table class="main" width="100%" cellpadding="0" cellspacing="0">
	                    <tr>
	                        <td class="content-wrap">
	                            <table  cellpadding="0" cellspacing="0">
	                                <tr>
	                                    <td style="background: #efefef;">
	                                        <img class="img-responsive" src="http://45.115.177.98:8083/static/webarch/img/logos.png" style="max-width: 150px;padding: 15px;text-align: center;margin: 0 auto;display: block;">
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                        <h2  style="margin: 10px 0 20px; font-family: arial;">{% trans 'Welcome To Comovi' %}</h2>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block" style=" font-family: arial;">
	                                      
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block" style=" font-family: arial;">
	                                        <p><strong>{% trans 'You have recieved a message from:' %} {{ from_name }}</strong></p>
	                                    </td>
	                                </tr>
	                                <tr>
	                                	<td class="content-block" style=" font-family: arial;">
	                                		<h4 style=" font-family: arial;"><strong>{% trans 'Message:' %}</strong></h4>
	                                		<p style=" font-family: arial;">{{ message|linebreaks }}</p>
	                                	</td>
	                                </tr>
	                                <tr>
	                                	<td class="content-block">
	                                		<p style="margin-bottom: 5px;font-family: arial;">{% trans 'Thanks,' %}</p>
	                                		<p style="font-family: arial;">{% trans 'Comovi Support Team' %}</p>
	                                	</td>
	                                </tr>
	                              </table>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	        </td>
	    </tr>
	</table>
{% endblock %}